<p id="notice"><%= notice %></p>

<p>
  <strong>Section(s):</strong>
  <% @user.sections.each do |section| %>
    <%= section.section_id %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>